body {
  background-color:black;
  color:white; 
  font-family:"Droid Sans", "Lucida Sans Unicode", sans-serif;
  text-align:left;
  margin-right:12%;
  margin-left:12%;
}
div#wrapper { 
  text-align: left; 
  margin: 0 auto; 
  width: 900px; 
  /*border: 1px solid silver; */
}
div#nav {
  color:silver;
  width: 900px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*border: 1px outset silver;*/
  clear:both;
}
div#details {
  margin-right:12%;
  text-align:justify;
  }
div.header {
  width: 900px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:silver;
  border: none;
}
div.footer {
  font-size:80%;
  color:silver;
  width: 900px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
}
div.width {
  width:800px;
  text-align:left;
}
img {
  text-decoration:none;
  border:thin solid;
}
img#logo {
  text-decoration:none;
  border:0 solid;
  float:right;
}
img.noborder {
  border: 0 none;
}
a {
  color:dodgerblue;
  text-decoration:none;
  letter-spacing:1px;
}
a:hover {
  color:cornsilk;
}
a#current {
  color:cornsilk;
}
#labels {
  float:left;
  text-align:right;
}
#contact {
  text-align:left;
}
iframe {
  float:left;
  margin-right:64px;
}
#floater {
  text-align:center;
}
.superscript {
  vertical-align: super;
  font-size:60%;
}   